GHL_WEBHOOK_URL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_SETUP_KEY=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_ADMIN_CHAT_ID=
TELEGRAM_CHANNEL_LINK=https://t.me/+FsBptMvmAD0zMGJh
TELEGRAM_SUBSCRIBE_LINK=https://subscribe.1houseglobal.com/countdown
TELEGRAM_BROKER_LINK=
